{% extends 'base.html.twig' %}

{% block body %}
    <h1>Inscription</h1>
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.pseudo) }}
        {{ form_row(registrationForm.mail) }}
        {{ form_row(registrationForm.password) }}
        <button class="btn">S'inscrire</button>
    {{ form_end(registrationForm) }}
{% endblock %}
    